p.padding {
	padding-left: 1cm;
	
}

p.padding2 {
	padding-left: 3cm;
}


p.padding3 {
	padding-right:1cm; 
}

p.padding4 {
	padding-right:3cm;
}

p.padding5 {
	padding-left:5cm;
}

p.padding6 {
	padding-right: 5cm;
}

p.padding7 {
	padding-left: 2cm;
}

p.padding8 {
	padding-left: 2.5cm;
}

p.padding9 {
	padding-right: 3.5cm;
}

p.padding10 {
	padding-right: 2cm;
}

p.padding11 {
	padding-right: 2.5cm;
}

p.padding12 {
	padding-right: 7cm;
}

P.padding13 {
	padding-bottom: 1cm;
}

p.padding14 {
	padding-bottom: 10cm;
}

p.padding15 {
	padding-bottom: 1cm;
}





