.button1{
	background-color:#812990;
	border:none;
	color:#FFF;
	text-align:center;
	text-decoration: none;
	display: inline-block;
	font-size:16px;
	margin: 4px 2px;
	cursor: pointer;
	padding-left: 5cm;
	
}

.button2 {padding: 12px 28px; }


p.div1{
	height:1250px;
	width: 750px;
	background-color:#f5f5f5;
    float:left;
	padding-left: 1cm; 
}